/* Root = Horizontal, Secondary = Vertical */
ul#navmenu-h {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: auto;/*tamaño del menu*/
  list-style: none;
  height: 24px;
}

ul#navmenu-h li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 24px;
}

ul#navmenu-h ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 200px;
  list-style: none;
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
}

ul#navmenu-h ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#navmenu-h ul li {
  width: 200px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
}

/* Root Menu */
ul#navmenu-h a {
  border: 0px solid #FFF;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  padding: 0 10px;
  float: none !important; /*For Opera*/
  float: right; /*For IE*/
  display: block;
  //background: #012E5B; /*Color del fondo en el primer menu*/
  color: #FFFFFF; /*Color de la letra en el primer menu*/
  font: 14px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

/* Root Menu Hover Persistence */
ul#navmenu-h a:hover,
ul#navmenu-h li:hover a,
ul#navmenu-h li.iehover a {
  //background: #012E5B; /*Color del fondo en el primer menu*/
  color: #0071BC; /*Color de la letra en el primer menu*/
  font: 14px/22px Verdana, Arial, Helvetica, sans-serif;
}

/* Root = Horizontal, Secondary = Vertical */
ul#navmenu-op {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: auto;/*tamaño del menu*/
  list-style: none;
  height: 24px;
}

ul#navmenu-op li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 24px;
}

ul#navmenu-op ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 200px;
  list-style: none;
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
}

ul#navmenu-op ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}

ul#navmenu-op ul li {
  width: 200px;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
}

/* Root Menu */
ul#navmenu-op a {
  border: 1px solid #FFF;
  border-right-color: #CCC;
  border-bottom-color: #CCC;
  padding: 0 10px;
  float: none !important; /*For Opera*/
  float: right; /*For IE*/
  display: block;
  //background: #012E5B; /*Color del fondo en el primer menu*/
  color: #0071BC; /*Color de la letra en el primer menu*/
  font: 14px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

/* Root Menu Hover Persistence */
ul#navmenu-op a:hover,
ul#navmenu-op li:hover a,
ul#navmenu-op li.iehover a {
  //background: #012E5B; /*Color del fondo en el primer menu*/
  color: #000000; /*Color de la letra en el primer menu*/
  font: 14px/22px Verdana, Arial, Helvetica, sans-serif;
}